<h1><span class="coordinates">
    <%= @log.coordinate.latitude %>
    <%= @log.coordinate.latitude_degrees %>
    &deg;
    <%= @log.coordinate.latitude_minutes %>
    '
    <%= @log.coordinate.latitude_seconds %>
    "

    <%= @log.coordinate.longitude %>
    <%= @log.coordinate.longitude_degrees %>
    &deg;
    <%= @log.coordinate.longitude_minutes %>
    '
    <%= @log.coordinate.longitude_seconds %>
    "
</span></h1>

<%= erb :'map', layout: false, locals: {coordinates: @log.coordinate} %>